@keyframes move-show {
  40% {
    transform: translate(-20%, -10%) rotate(-20deg);
  }
  0%,
  100% {
    transform: translate(0) rotate(0);
  }
}

@keyframes backshake {
  0%,
  50% {
    transform: rotate(8deg);
  }
  25%,
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@layer utilities {
  .animate-move-show {
    animation: move-show ease-in-out 1.2s 1s;
  }
  
  .animate-backshake {
    animation: backshake 0.5s linear;
  }
}

