@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

body {
  @apply font-sans;
}


$themeColorList: (
  #2196f3,
  #f44336,
  #9c27b0,
  #4caf50,
  #3f51b5,
  #795548,
  #607d8b,
  #009688
);

@function getColorValue($color) {
  @return #{red($color)} #{green($color)} #{blue($color)};
}

@mixin theme-primary-map($primary-color) {
  --color-primary-dark: #{getColorValue(mix($primary-color, black, 40%))};
  --color-primary: #{getColorValue($primary-color)};
  --color-primary-medium: #{getColorValue(mix($primary-color, white, 70%))};
  --color-primary-light: #{getColorValue(mix($primary-color, white, 35%))};
  --color-primary-extralight: #{getColorValue(mix($primary-color, white, 15%))};
}
@for $i from 1 through length($themeColorList) {
  $color: nth($themeColorList, $i);
  .theme-#{$i} {
    @include theme-primary-map($color);
  }
}


