@tailwind base;
@tailwind components;
@tailwind utilities;

$themeColorList: (
  #2196f3,
  #f44336,
  #9c27b0,
  #4caf50,
  #3f51b5,
  #795548,
  #607d8b,
  #009688
);

@function getColorValue($color) {
  @return #{red($color)} #{green($color)} #{blue($color)};
}

@mixin theme-primary-map($primary-color) {
  --color-primary-dark: #{getColorValue(mix($primary-color, black, 30%))};
  --color-primary: #{getColorValue($primary-color)};
  --color-primary-medium: #{getColorValue(mix($primary-color, white, 70%))};
  --color-primary-light: #{getColorValue(mix($primary-color, white, 35%))};
  --color-primary-extralight: #{getColorValue(mix($primary-color, white, 15%))};
}
@for $i from 1 through length($themeColorList) {
  $color: nth($themeColorList, $i);
  .theme-#{$i} {
    @include theme-primary-map($color);
  }
}


